<div class="row">
    <div class="col-xs-12">
        <app-panel [gridClass]="gridColumnClass" [content]="selectedItem"></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-xs-11 col-xs-offset-1 col-sm-4 well">
        <div class="row">
            <form class="form-horizontal">
                <div class="col-xs-12 reservation" *ngFor="let content of bookingContent; let i = index">
                    <h4>{{ content.heading }}</h4>
                    <div *ngFor="let field of content.options">
                        <div class="form-group">
                            <label for="check-in" class="control-label col-xs-12 col-sm-6">{{ field.label }}</label>
                            <div class="col-xs-12 col-sm-6">
                                <input type="{{ field.type }}" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-11 col-sm-7 well"></div>
</div>