#modal-popover {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Raleway-Regular, Arial, Helvetica;
    height: 100vh;
    letter-spacing: 2px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
    width: 100vw;
    z-index: 9999;
    .modal-dialog {
        margin: auto;
        .modal-header {
            font-size: 1.8rem;
            i {
                margin-right: 10px;
            }
        }
        .modal-body {
            font-size: 1.1rem;
            padding: 4rem;
            span {
                line-height: 2;
            }
        }
        .modal-footer {
            button {
                border-radius: 0px;
                font-size: 11px;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 767px) {
    #modal-popover {
        .modal-dialog {
            width: 80%
        }
    }
}