@mixin transition($color, $delay, $timing-function) {
    -moz-transition: $color $delay $timing-function;
    -ms-transition: $color $delay $timing-function;
    -o-transition: $color $delay $timing-function;
    -webkit-transition: $color $delay $timing-function;
    transition: $color $delay $timing-function;
}

@mixin scale($value) {
    -moz-transform: scale($value);
    -ms-transform: scale($value);
    -webkit-transform: scale($value);
    transform: scale($value);
}

#navigation-container {
    .navbar {
        background-color: white;
        .container-fluid {
            padding: 0px !important;
        }
        .navbar-header,
        .navbar-brand {
            float: none;
        }
        .navbar-brand {
            height: 40px;
            padding: 0px;
            text-align: center;
            h4 {
                font-family: Times New Roman;
                letter-spacing: 2px;
                margin: 15px 0px 0px;
                text-transform: uppercase;
            }
            small {
                font-size: 11px;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
        }
        #navigation {
            .sub-row {
                border-bottom: 1px solid #ccc;
                padding-bottom: 8px;
                small {
                    cursor: pointer;
                    font-size: 9px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    &.dropdown-toggle {
                        i.caret {
                            bottom: 2px;
                            position: relative;
                        }
                    }
                }
            }
            .service-container {
                text-align: center;
            }
            ul.dropdown-menu {
                border-radius: 0px;
                left: 0px;
                margin: 0px auto;
                position: absolute;
                right: 0px;
                width: 175px;
                li {
                    a {
                        color: gray;
                        font-size: 10px;
                        letter-spacing: 2px;
                        padding: 7px 20px;
                    }
                }
            }
            i.fas.fa-search {
                font-size: 12px;
                margin-left: 5px;
            }
            .nav.navbar-nav {
                display: flex;
                float: none;
                justify-content: center;
                li {
                    background-color: white;
                    @include transition(background-color, 0.5s, ease-in-out);
                    a {
                        font-size: 9px;
                        letter-spacing: 2px;
                        text-align: center;
                        text-transform: uppercase;
                    }
                    i {
                        display: block;
                        font-size: 22px;
                        margin-bottom: 4px;
                    }
                }
                li:hover {
                    background-color: #f1f1f1;
                    i {
                        @include scale(1.3);
                    }
                }
                li.active {
                    background-color: #f1f1f1;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #navigation-container {
        .navbar {
            .navbar-header {
                button {
                    position: absolute;
                    right: 25px;
                    top: 2px;
                }
                .navbar-brand {
                    margin-bottom: 10px;
                }
            }
            #navigation {
                .sub-row {
                    padding: 5px 0px 10px;
                }
                .nav.navbar-nav {
                    display: block;
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #navigation-container {
        .navbar {
            .navbar-brand {
                margin-bottom: 10px;
            }
            #navigation {
                .nav.navbar-nav {
                    a {
                        padding: 12px 10px;
                    }
                }
            }
        }
    }
}

/* ANIMATED HAMBURGER ICON (TRANSFORM ☰ TO 'X') */

.navbar-toggle {
    background: transparent !important;
    border: none;
    margin-right: -15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #b6bbbd;
    transition: all 0.5s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

/* END ANIMATION */