#offers {
    .offers-container {
        padding: 0px;
        h1 {
            background-color: #f1f1f1;
            color: #696868;
            font-family: Raleway-Regular, Arial, Helvetica;
            font-size: 3em;
            letter-spacing: 2px;
            margin-bottom: 0px;
            margin-top: 153px;
            padding: 25px 60px;
            text-transform: uppercase;
        }
        .row {
            background-color: white;
            display: flex;
            margin: 0px;
            small {
                font-size: 11px;
                line-height: 2.2rem;
                margin: 20px auto;
                text-align: center;
                text-transform: capitalize;
                width: 65%;
            }
        }
    }
}

@media (max-width: 767px) {
    #offers {
        .offers-container {
            h1 {
                font-size: 1.5em;
                font-weight: bold;
                margin-top: 60px;
                padding: 25px 8%;
            }
            .row {
                small {
                    text-align: justify;
                    width: 90%;
                }
            }
        }
    }
}