@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-container {
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
    margin: 0px 1rem;
    div {
        padding: 0px;
        position: relative;
        text-align: center;
        img {
            height: 30rem;
            width: 100%;
        }
        .ribbon-container {
            height: 150px;
            position: absolute;
            top: 0px;
            width: 150px;
            .ribbon {
                background-color: #f1f1f1;
                left: -32px;
                padding: 0.5rem;
                position: absolute;
                text-transform: uppercase;
                top: 30px;
                transform: rotate(-45deg);
                width: 100%;
            }
        }
        i {
            font-size: 22px;
        }
    }
    div.horizontal-view {
        img {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }
    }
    div.vertical-view {
        img {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    div.horizontal-view,
    div.vertical-view {
        &:nth-of-type(2),
        &:nth-of-type(3) {
            padding: 15px 20px 0px;
            .row {
                margin: 0px;
            }
        }
    }
    div.vertical-view {
        &:nth-of-type(3) {
            padding-bottom: 15px;
            ul {
                padding-left: 0em;
            }
        }
    }
    h4 {
        border-bottom: 1px solid #ccc;
        line-height: 1.5em;
        margin: 0px 0px 12px;
        padding: 5px;
        @include ellipsis();
    }
    .area,
    .accomodation,
    .bed,
    .extras {
        .sub-heading {
            font-size: 10px;
        }
        span {
            font-family: Raleway-Regular, Arial, Helvetica;
            font-size: 20px;
        }
        small {
            font-size: 10px;
        }
    }
    small {
        letter-spacing: 2px;
        line-height: 2;
        padding: 0px 0px 20px;
    }
    .coupon-code {
        font-size: 1.5em;
        font-weight: bold;
        margin: 10px 0px;
    }
    ul {
        line-height: 1.4em;
        margin-bottom: 0px;
        padding-left: 2.2em;
        li {
            font-size: 11px;
            list-style-type: none;
            padding-bottom: 5px;
            text-align: left;
            @include ellipsis();
            i {
                font-size: 10px;
                padding-right: 5px;
            }
            span {
                font-size: 1.3em;
            }
        }
    }
}

@media (max-width: 767px) {
    div.vertical-view {
        padding: 0px;
        img {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
}