@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-container {
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0px 12px;
    text-transform: uppercase;
    div {
        padding: 0px;
        text-align: center;
        img {
            height: 26rem;
            width: 100%;
        }
        i {
            font-size: 22px;
        }
    }
    div.horizontal-view {
        img {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }
    }
    div.vertical-view {
        img {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    div.horizontal-view,
    div.vertical-view {
        &:nth-of-type(2),
        &:nth-of-type(3) {
            padding: 20px 20px 0px;
            .row {
                margin: 0px;
            }
        }
    }
    div.vertical-view {
        &:nth-of-type(3) {
            padding-bottom: 15px;
            ul {
                padding-left: 1em;
            }
        }
    }
    h4 {
        border-bottom: 1px solid #ccc;
        line-height: 1.5em;
        margin: 0px 0px 12px;
        padding: 8px;
        @include ellipsis();
    }
    .area,
    .accomodation,
    .bed,
    .extras {
        .sub-heading {
            font-size: 10px;
        }
        span {
            font-family: Raleway-Regular, Arial, Helvetica;
            font-size: 20px;
        }
        small {
            font-size: 8px;
        }
    }
    ul {
        line-height: 1.4em;
        padding-left: 2.2em;
        li {
            font-size: 10px;
            list-style-type: none;
            padding-bottom: 5px;
            text-align: left;
            @include ellipsis();
            i {
                font-size: 10px;
                padding-right: 5px;
            }
        }
    }
}

@media (max-width: 767px) {
    div.vertical-view {
        padding: 0px;
        img {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
}