@import '../../../../../global.scss';
.panel-container {
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
    div {
        padding: 0px;
        text-align: center;
        .image-container {
            position: relative;
            img {
                height: 30rem;
                width: 100%;
            }
            &.horizontal-view {
                img {
                    border-bottom-left-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }
            &.vertical-view {
                img {
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }
            .ribbon-container {
                height: 150px;
                position: absolute;
                top: 0px;
                width: 150px;
                .ribbon {
                    background-color: #f1f1f1;
                    left: -32px;
                    padding: 0.5rem;
                    position: absolute;
                    text-transform: uppercase;
                    top: 30px;
                    transform: rotate(-45deg);
                    width: 100%;
                }
            }
        }
        .description-container,
        .additional-info-container {
            padding: 15px 20px 0px;
            .icon {
                font-size: 1.5em;
            }
            h4 {
                border-bottom: 1px solid #ccc;
                line-height: 1.5em;
                margin: 0px 0px 12px;
                padding: 5px;
                @include singleline-ellipsis();
            }
            small {
                font-size: 1rem;
                letter-spacing: 1px;
                line-height: 2;
            }
        }
        .additional-info-container {
            ul {
                line-height: 1.4em;
                margin-bottom: 0px;
                padding-left: 2.2em;
                li {
                    font-size: 1rem;
                    list-style-type: none;
                    padding-bottom: 5px;
                    text-align: left;
                    @include singleline-ellipsis();
                    i {
                        font-size: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }
        &.vertical-view.additional-info-container {
            padding-bottom: 15px;
        }
    }
    #hotelTemplate {
        .description-container,
        .additional-info-container {
            .statement {
                margin-bottom: 10px;
            }
        }
        .description-container {
            .area,
            .accomodation,
            .bed,
            .extras {
                span {
                    font-size: 2em;
                }
            }
        }
    }
    #offersTemplate {
        .description-container {
            .description {
                margin-bottom: 15px;
                @include multiline-ellipsis('70px', 3);
            }
            .coupon-code {
                font-size: 1.5em;
                font-weight: bold;
                margin: 10px 0px;
                text-transform: lowercase;
            }
        }
        .additional-info-container {
            .statement {
                margin-bottom: 15px;
            }
        }
    }
    #weddingTemplate {
        .description-container {
            .description {
                margin-bottom: 15px;
                @include multiline-ellipsis('100px', 5);
            }
        }
        .additional-info-container {
            .statement {
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 767px) {
    .panel-container {
        margin: 0px !important;
        div.vertical-view {
            &.additional-info-container {
                ul {
                    padding-left: 1rem;
                }
            }
        }
    }
}