<div id="additional-info">
    <h1>{{ (additionalInfo$ | async)?.heading }}</h1>
    <div class="row">
        <div class="col-xs-12 col-md-4">

        </div>
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 info-container" *ngFor="let item of additionalInfo?.content; let i = index">
                    <i class="{{ item.icon }}"></i>
                    <div>{{ item.key }}</div>
                    <ng-container *ngIf="item.links.length === 1; then showButton else showLinks"></ng-container>
                    <ng-template #showButton>
                        <input type="button" class="btn btn-default" value="{{ item.links[0] }}">
                    </ng-template>
                    <ng-template #showLinks>
                        <a *ngFor="let link of item.links; let j = index" href="#" target="_blank">
                            <i class="{{ link }} social"></i>
                        </a>
                    </ng-template>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 link-container" *ngFor="let item of additionalInfo?.links; let i = index">
                    <h5>{{ item.key }}</h5>
                    <ul>
                        <li *ngFor="let link of item.values; let j = index">
                            <a href="#" target="_blank">{{ link | uppercase }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <span class="col-xs-6 col-sm-2 ads" *ngFor="let ad of additionalInfo?.ads; let i = index">
                    <i class="{{ ad }}"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 copyright">
                <span>{{ additionalInfo?.copyright | uppercase }}</span>
            </div>
        </div>
    </div>
</div>