<form id="sign-in" #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
    <div class="container">
        <div class="row">
            <section class="col-xs-5">
                <h4>bourbon bliss</h4>
                <small>california</small>
                <div class="form-group">
                    <label for="email">email <span>*</span></label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" #emailControl="ngModel"
                        [ngStyle]="{ 'border': emailControl.touched && emailControl.invalid ? '1px solid red' : '' }"
                        placeholder="default@example.com" maxlength="30" minlength="5" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        required>
                    <i *ngIf="emailControl.touched && emailControl.invalid" class="fas fa-exclamation-circle"></i>
                    <span *ngIf="emailControl.touched && emailControl.invalid" class="error">please provide valid email
                        id.</span>
                </div>
                <div class="form-group">
                    <label for="password">password <span>*</span></label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"
                        #passwordControl="ngModel" [ngStyle]="{ 'border': passwordControl.touched && passwordControl.invalid ? '1px solid red' : '' }"
                        maxlength="15" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <i *ngIf="passwordControl.touched && passwordControl.invalid" class="fas fa-exclamation-circle"></i>
                    <span *ngIf="passwordControl.touched && passwordControl.invalid" class="error">password must
                        contain at least one digit, one uppercase and lowercase letter, and at least 8 or more
                        characters.</span>
                </div>
                <a href="#">forget password?</a>
                <div class="row">
                    <div class="col-xs-4">
                        <input type="submit" class="btn btn-default" value="sign in" [disabled]="signInForm.invalid">
                    </div>
                    <div class="col-xs-8 creat-account">
                        <input type="button" class="btn btn-default" value="create account">
                    </div>
                </div>
            </section>
            <section class="col-xs-7">
                <h4>customer reviews</h4>
                <div class="row" *ngFor="let review of customerReview; let i=index">
                    <div class="col-xs-2">
                        <img src="../../../assets/images/{{ review.path }}" alt="img-review">
                    </div>
                    <div class="col-xs-10">
                        <h5>{{ review.heading }}</h5>
                        <small>{{ review.description }}</small>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>