<div class="offers-container">
    <div class="action-container">
        <div class="row">
            <div *ngIf="viewportWidth <= 767" class="col-xs-12">
                <input type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" value="{{ offersContent?.action[0]?.key }}">
                <ul class="dropdown-menu">
                    <li *ngFor="let item of offersContent?.action[0]?.operations; let i = index">
                        <a href="javascript:void(0)" (click)="onApplyFilter(item, i)">{{ item }}</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="viewportWidth > 767" class="col-md-9 filter-action">
                <span>{{ offersContent?.action[0]?.key }} :</span>
                <label class="radio-inline" *ngFor="let item of offersContent?.action[0]?.operations; let i = index">
                    <input type="radio" name="filter" [checked]="i === checkboxIndex" (change)="onApplyFilter(item, i)">{{ item }}
                </label>
            </div>
            <div class="col-md-3 hidden-xs hidden-sm">
                <span>{{ offersContent?.action[1]?.key }}</span>
                <i class="view-icon {{ offersContent?.action[1]?.operations[arrayIndex] }}" (click)="onChangeView(arrayIndex)"></i>
            </div>
        </div>
    </div>
    <div class="coupons-container">
        <div class="row">
            <div *ngFor="let item of coupons; let i = index" [ngStyle]="{ 'min-height': arrayIndex === 1 ? '900px' : 'auto' }" [ngClass]="gridRowClass" class="coupon-view">
                <app-panel [template]="'offers'" [gridClass]="gridColumnClass" [content]="item">
                    <input type="button" class="btn btn-default purchase" value="purchase coupon !" (click)="onCouponPurchase(i)">
                    <small class="terms-and-condition">
                        <span><span class="asterisk">*</span>applicable for <b>{{ item.type }}</b> section only</span>
                    </small>
                </app-panel>
            </div>
        </div>
    </div>
</div>