@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.action-container {
    background-color: #f1f1f1;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 25px 60px 1px;
    text-transform: uppercase;
    span {
        margin-right: 15px;
    }
    label {
        margin-right: 5px;
        input[type="radio"] {
            bottom: 3px;
            cursor: pointer;
            position: absolute;
        }
    }
    .row:first-child {
        input[type="button"] {
            color: #696868;
        }
        .dropdown-menu {
            li {
                a {
                    font-size: 11px;
                }
            }
        }
        .filter-action {
            position: relative;
            top: 10px;
        }
        div:nth-child(2) {
            text-align: right;
            .view-icon {
                background-color: white;
                border: 2px solid #bbb8b8;
                border-radius: 10px;
                color: #948e8e;
                cursor: pointer;
                font-size: 16px;
                height: 35px;
                margin-right: 8px;
                padding: 8px;
                text-align: center;
                width: 35px;
            }
        }
    }
}

.coupons-container {
    padding: 25px 5%;
    .row:first-child {
        .coupon-view {
            margin-bottom: 25px;
            padding: 0px;
            .purchase {
                color: #808080;
                margin-bottom: 20px;
                margin-top: 28px;
            }
            .terms-and-condition {
                display: block;
                font-size: 9px;
                padding-bottom: 10px;
                span {
                    .asterisk {
                        color: red;
                        font-size: 30px;
                        position: relative;
                        top: 14px;
                        left: -5px;
                    }
                    b {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .action-container {
        padding: 25px 8%;
    }
    .coupons-container {
        padding: 0% 9%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .action-container {
        padding: 25px 5%;
    }
    .coupons-container {
        padding: 0% 6%;
    }
}