<div class="wedding-container">
    <div class="action-container">
        <div class="row">
            <div class="col-md-12 hidden-xs hidden-sm">
                <span>{{ weddingContent?.action[1]?.key }}</span>
                <i class="view-icon {{ weddingContent?.action[1]?.operations[arrayIndex] }}" (click)="onChangeView(arrayIndex)"></i>
            </div>
        </div>
    </div>
    <div class="wedding-container">
        <div class="row">
            <div class="marriage-hall" [ngClass]="gridRowClass" [ngStyle]="{ 'min-height': arrayIndex === 1 ? '855px' : 'auto' }" *ngFor="let item of weddingContent?.marriageHalls; let i = index">
                <app-panel [template]="'wedding'" [gridClass]="gridColumnClass" [content]="item">
                    <input type="button" class="btn btn-default book-marriage-hall" value="book marriage hall !" (click)="onBookingMarriageHall(i)">
                </app-panel>
            </div>
        </div>
    </div>
</div>