@import "../../../../global.scss";
.restaurant-container {
    padding: 25px $side-padding-landscape 0px;
    .action-container {
        font-size: 12px;
        letter-spacing: 1px;
        span {
            margin-right: 15px;
        }
        label {
            margin-right: 5px;
            input[type="radio"] {
                bottom: 3px;
                cursor: pointer;
                position: absolute;
            }
        }
        .row:first-child {
            input[type="button"] {
                color: #696868;
            }
            .dropdown-menu {
                left: 0px;
                margin: 0px auto;
                position: absolute;
                right: 0px;
                width: 160px;
                li {
                    a {
                        font-size: 11px;
                    }
                }
            }
            .filter-action {
                padding: 0px;
                position: relative;
                top: 10px;
            }
            div:nth-child(2) {
                padding: 0px;
                text-align: right;
                .view-icon {
                    background-color: white;
                    border: 2px solid #bbb8b8;
                    border-radius: 10px;
                    color: #948e8e;
                    cursor: pointer;
                    font-size: 16px;
                    height: 35px;
                    padding: 8px;
                    text-align: center;
                    width: 35px;
                }
            }
        }
    }
    .restaurants-container {
        padding: 25px 0px 0px;
        .restaurant {
            padding: 0px;
            margin-bottom: $panel-gap;
        }
    }
}

@media (max-width: 767px) {
    .restaurant-container {
        padding: 25px $side-padding-potrait 0px;
        .action-container {
            .row:first-child {
                text-align: center;
            }
        }
        .restaurants-container {
            .restaurant {
                min-height: 855px !important;
            }
        }
    }
}