$side-padding-landscape: 60px;
$side-padding-potrait: 40px;
.booking-container {
    padding: 25px $side-padding-landscape;
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .panel-wrapper {
        margin: 40px 0px 30px;
        &>.col-xs-12 {
            padding: 0px;
            .check-rates {
                margin: 20px 0px;
                div {
                    input[type="radio"] {
                        position: relative;
                        right: 10px;
                        top: 2px;
                    }
                }
            }
        }
    }
    .form-wrapper {
        &>.col-xs-12 {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            .reservation-request,
            .additional-choice,
            .price-list {
                h4 {
                    border-bottom: 1px solid #ccc;
                    letter-spacing: 1px;
                    line-height: 1.5;
                    padding-bottom: 10px;
                    i {
                        font-size: 2rem;
                        margin-right: 10px;
                    }
                }
            }
            .reservation-request {
                .control-section {
                    h6 {
                        letter-spacing: 1px;
                        margin: 10px 0px;
                        position: relative;
                        i {
                            font-size: 1.2rem;
                            margin-right: 6px;
                        }
                        .user-action {
                            bottom: 0px;
                            display: inline-block;
                            position: absolute;
                            right: 0px;
                            span {
                                cursor: pointer;
                                font-size: 10px;
                                i {
                                    font-size: 15px;
                                    position: relative;
                                    top: 2px;
                                }
                            }
                            span:first-child {
                                i {
                                    margin-right: 15px;
                                }
                            }
                        }
                        .disable-add-link,
                        .disable-remove-link {
                            color: lightgray;
                            pointer-events: none;
                            i {
                                color: lightgray;
                                pointer-events: none;
                            }
                        }
                    }
                    .form-group {
                        height: 95px;
                        padding: 0px 5px;
                        label {
                            bottom: 5px;
                            font-size: 11px;
                            font-weight: 500;
                            letter-spacing: 1px;
                            padding-top: 0px;
                            position: relative;
                            text-align: left;
                            .asterisk {
                                top: 10px;
                            }
                        }
                        i {
                            font-size: 1.2rem;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .additional-choice,
            .price-list {
                margin-top: 25px;
                .form-group {
                    padding: 0px;
                    i.fas.fa-info-circle {
                        font-size: 1.2rem;
                    }
                    app-tooltip {
                        ::ng-deep #tooltip-container {
                            left: -104px;
                            top: 35px;
                        }
                    }
                }
            }
            .additional-choice {
                .form-group {
                    margin-bottom: 5px;
                    .row {
                        &.disabled {
                            opacity: 0.5;
                            pointer-events: none;
                        }
                        input[type="checkbox"] {
                            cursor: pointer;
                            display: inline-block;
                            height: 14px;
                            position: relative;
                            top: 3px;
                            width: 14px;
                        }
                        label {
                            font-size: 11px;
                            font-weight: 500;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
            .price-list {
                .form-group {
                    font-size: 11px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    .row {
                        i.fas.fa-check {
                            margin-right: 15px;
                        }
                        div:nth-child(2) {
                            font-size: 1.2rem;
                            &.highlighted {
                                bottom: 6px;
                                font-size: 2rem;
                                font-weight: bold;
                                position: relative;
                            }
                        }
                    }
                }
            }
            .button-container {
                margin: 15px 0px 10px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 767px) {
    .booking-container {
        padding: 25px $side-padding-potrait;
        .form-wrapper {
            &>.col-xs-12 {
                .reservation-request,
                .additional-choice,
                .price-list {
                    h4 {
                        font-size: 1.8rem;
                    }
                    .control-section {
                        h6.guest-info {
                            margin-bottom: 45px;
                            .user-action {
                                top: 30px;
                            }
                        }
                    }
                }
                .additional-choice,
                .price-list {
                    margin-top: 10px;
                    .form-group {
                        margin-bottom: 15px;
                        .col-xs-12 {
                            text-align: center;
                            app-tooltip {
                                ::ng-deep #tooltip-container {
                                    left: 0px !important;
                                    right: 0px !important;
                                }
                            }
                        }
                    }
                }
                .price-list {
                    .form-group {
                        .col-xs-12 {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}