<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <h4>bourbon bliss</h4>
                <small>california</small>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navigation">
            <div class="row sub-row">
                <div class="hidden-xs col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-3">
                    <small class="dropdown-toggle" data-toggle="dropdown">sign in
                        <i class="caret"></i>
                    </small>
                    <app-sign-in class="dropdown-menu" (click)="$event.stopPropagation()"></app-sign-in>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-offset-3 col-md-4">
                    <div class="row service-container">
                        <div class="col-xs-6">
                            <div class="dropdown">
                                <small class="dropdown-toggle" data-toggle="dropdown">guest services
                                    <i class="caret"></i>
                                </small>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let service of guestServices; let i = index">
                                        <a href="#">{{ service }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <small>itinerary <i class="fas fa-search"></i></small>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav navbar-nav">
                <li *ngIf="viewportWidth < 768">
                    <a routerLink="/sign-in" (click)="navigateTo('sign-in', $event)">
                        <i class="fas fa-sign-in-alt"></i>sign in
                    </a>
                </li>
                <li *ngFor="let menu of navMenuItems; let i = index">
                    <a id="nav-{{ menu.name }}" routerLink="/{{ menu.name }}" [ngClass]="i === 0 ? 'navbar-active' : ''">
                        <i class="{{ menu.icon }}" aria-hidden="true"></i>{{ menu.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>