/* variables */
$side-padding-landscape: 60px;
$side-padding-potrait: 40px;
$arrowBackgroundColor: lightgray;


/* @mixin */
@mixin singleline-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin multiline-ellipsis($height, $line-clamp) {
    display: -webkit-box;
    height: $height;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line-clamp;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
}

@mixin transition($color, $delay, $timing-function) {
    -moz-transition: $color $delay $timing-function;
    -ms-transition: $color $delay $timing-function;
    -o-transition: $color $delay $timing-function;
    -webkit-transition: $color $delay $timing-function;
    transition: $color $delay $timing-function;
}

@mixin scale($value) {
    -moz-transform: scale($value);
    -ms-transform: scale($value);
    -webkit-transform: scale($value);
    transform: scale($value);
}

@mixin brightness($value) {
    -moz-filter: brightness($value);
    -ms-filter: brightness($value);
    -webkit-filter: brightness($value);
    filter: brightness($value);
}

@mixin arrowStyle($bottomColor, $leftColor, $rightColor, $topColor) {
    border-bottom-color: $bottomColor;
    border-left-color: $leftColor;
    border-right-color: $rightColor;
    border-top-color: $topColor;
    border-style: solid;
    border-width: 10px;
    height: 0px;
    width: 0px;
}

@mixin arrowPosition($bottom, $left, $right, $top) {
    bottom: #{ $bottom };
    left: #{ $left };
    margin: auto;
    position: absolute;
    right: #{ $right };
    top: #{ $top };
}