* {
    color: #696868;
    font-family: Raleway-Medium, Arial, Helvetica;
}

html,
body {
    background-color: #f1f1f1;
    border: 0px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
select {
    border-radius: 0px !important;
    box-shadow: none !important;
    font-size: 11px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
}

input[type="button"],
input[type="submit"] {
    background-color: transparent;
    border: 1px solid #bbb8b8;
    border-radius: 0px;
    color: #bbb8b8;
    font-size: 13px;
    margin: 0px 5px;
    padding: 9px 15px;
    text-transform: uppercase;
}